.meus-filmes{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.meus-filmes h1{
    font-size: 25px;
    margin-bottom: 14px;
}
.meus-filmes span{
    font-size: 15px;
}
.meus-filmes ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 720px;
}
.meus-filmes ul li{
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    margin: 14px 10px;
}
.meus-filmes div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.meus-filmes div a{
    color: #116feb;
    text-decoration: none;
    margin-right: 14px;
}