header{
    height: 60px;
    width: 100%;
    background: #116feb;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
}
.favoritos{
    color: #000;
    text-decoration: none;
    cursor: pointer;
    background-color: #fff;
    padding: 5px 14px;
    border-radius: 4px;
}

/* @media (max-width: 820px) {
    header{
        display: flex;
        width: 100vw;
        max-width: 100%;
    }
  }
   */